<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content" class="container my-3">
  <h4>카테고리 관리</h4>
  <div class="row">
    <!-- tier 1 Categories -->
    <div class="col-md-6">
      <div class="row my-3 align-items-center">
        <div class="col">
          <h5 class="mb-0">게시판 목록</h5>
        </div>
        <div class="col-auto mr-auto">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mainCategoryCreateModal">
            게시판 추가
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr class="text-center">
              <th>ID</th>
              <th class="text-start" style="width:60%">이름</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center" th:each="main : ${categoryList.mainList}"
              th:classappend="${main.id == selectedMain} ? 'table-primary'"
              th:onclick="|location.href='?main=${main.id}'|"
            >
              <td th:text="${main.id}"></td>
              <td class="text-start" th:text="${main.name}"></td>
              <td>
                <a
                  th:href="@{|/admin/category/main/form/${main.id}|}"
                  class="btn btn-sm btn-outline-secondary"
                  sec:authorize="hasRole('ROLE_ADMIN')"
                  th:text="수정"
                ></a>
              </td>
              <td>
                <form
                  class="d-inline"
                  th:action="@{|/admin/category/${main.id}|}"
                  method="post"
                  th:onsubmit="return confirm('[[${main.name}]] 게시판을 삭제하시겠습니까?');"
                  sec:authorize="hasRole('ROLE_ADMIN')"
                >
                  <input type="hidden" name="_method" value="delete" />
                  <button class="btn btn-sm btn-outline-secondary">삭제</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- tier 2 Categories -->
    <div class="col-md-6">
      <h5>카테고리 목록</h5>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr class="text-center">
              <th class="text-start" style="width:70%">이름</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              th:each="sub : ${categoryList.subList}"
            >
              <td class="text-start" th:text="${sub.name}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 게시판 추가 modal -->
  <div class="modal fade" id="mainCategoryCreateModal" tabindex="-1" aria-labelledby="mainCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="mainCategoryModalLabel">게시판 추가</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form
          id="mainCategoryCreateForm"
          th:action="@{/admin/category/main}"
          th:object="${mainCategoryForm}"
          method="post"
          onsubmit="return confirm('게시판을 생성하시겠습니까?');"
        >
          <div class="modal-body">
            <input type="hidden" name="tier" id="tier" class="form-control" th:value="1"/>
            <div class="mb-3">
              <label th:for="name" class="form-label">게시판 이름</label>
              <input type="text" id="name" class="form-control" th:field="*{name}" autofocus>
            </div>
            <input type="hidden" id="mainId" name="mainId" class="form-control" value=""/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary">게시판 생성</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script layout:fragment="script" type="module" th:src="@{/admin-category.js}"></script>
</html>
