<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content" class="container my-3">
  <h4>유저 관리</h4>
  <table class="table">
    <thead class="table-secondary">
    <tr class="text-center">
      <th>ID</th>
      <th class="text-start" style="width:15%">유저명</th>
      <th class="text-start" style="width:30%">Email</th>
      <th>가입일</th>
      <th>권한</th>
      <th>매니저</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="user, loop : ${userList}">
      <td th:text="${user.id}"></td>
      <td class="text-start" th:text="${user.username}"></td>
      <td class="text-start" th:text="${user.email}"></td>
      <td th:text="${#temporals.format(user.createDateTime, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${user.role}"></td>
      <td th:switch="${#strings.toString(user.role)}">
        <button
          class="btn btn-sm btn-outline-secondary"
          th:case="'ADMIN'"
          disabled
        >
          관리자
        </button>
        <form
          th:action="@{|/admin/user/role|}"
          method="post"
          onsubmit="return confirm('권한을 회수하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PATCH" />
          <input type="hidden" name="action" value="REVOKE" />
          <input type="hidden" name="id" th:value="${user.id}" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:case="'STAFF'"
          >
            회수
          </button>
        </form>
        <form
          th:action="@{|/admin/user/role|}"
          method="post"
          onsubmit="return confirm('권한을 부여하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PATCH" />
          <input type="hidden" name="action" value="GRANT" />
          <input type="hidden" name="id" th:value="${user.id}" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:case="*"
          >
            부여
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="${!userList.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${userList.isFirst} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=0|}">
          <span>처음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${userList.isFirst} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.number - 1}|}">
          <span>이전</span>
        </a>
      </li>
      <li
        th:each="page: ${#numbers.sequence(0, userList.totalPages-1)}"
        th:if="${page >= userList.number-5 and page <= userList.number+5}"
        th:classappend="${page == userList.number} ? 'active'"
        class="page-item"
      >
        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${userList.isLast} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.number + 1}|}">
          <span>다음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${userList.isLast} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.getTotalPages - 1}|}">
          <span>끝</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</html>
