<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
  <h4>카테고리 관리</h4>
  <div class="row">
    <!-- tier 1 Categories -->
    <div class="col-md-6">
      <div class="row my-3 align-items-center">
        <div class="col">
          <h5 class="mb-0">게시판 목록</h5>
        </div>
        <div class="col-auto mr-auto">
          <a
            class="btn btn-primary"
            th:href="@{/admin/category/main}"
          >
            게시판 추가
          </a>
        </div>
      </div>
      <div class="list-group" th:each="main : ${categoryList.mainList}">
        <a
          class="list-group-item list-group-item-action"
          th:classappend="${main.id == selectedMain} ? 'active'"
          th:href="@{|?main=${main.id}|}"
          th:text="${main.name}"
        ></a>
      </div>
    </div>
    <!-- tier 2 Categories -->
    <div class="col-md-6">
      <h5>카테고리 목록</h5>
      <div>
        <ul class="list-group" th:each="sub : ${categoryList.subList}">
          <li class="list-group-item">
            <span th:text="${sub.name}"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>
