<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content" class="container my-3">
  <h5 class="my-3 border-bottom pb-2">유저 관리</h5>
  <table class="table">
    <thead class="table-secondary">
    <tr class="text-center">
      <th>ID</th>
      <th class="text-start" style="width:15%">유저명</th>
      <th class="text-start" style="width:30%">Email</th>
      <th>가입일</th>
      <th>차단</th>
      <th>정지</th>
      <th>매니저</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="user, loop : ${userList}">
      <td th:text="${user.id}"></td>
      <td class="text-start" th:text="${user.username}"></td>
      <td class="text-start" th:text="${user.email}"></td>
      <td th:text="${#temporals.format(user.createDateTime, 'yyyy-MM-dd HH:mm')}"></td>
      <td>
        <button
          class="btn btn-sm btn-outline-secondary"
          th:if="${#strings.toString(user.role)} == 'ADMIN'" disabled
        >관리자</button>
        <button
          class="btn btn-sm btn-outline-danger"
          th:if="${#strings.toString(user.role)} != 'ADMIN' AND ${user.isBanned == false}"
          th:attr="data-user-id=${user.id}, data-username=${user.username}"
          data-bs-toggle="modal"
          data-bs-target="#banUserModal"
          onclick="openBanModal(this)"
        >차단</button>
        <form
          th:action="@{|/admin/user/${user.id}/unban|}"
          method="POST"
          onsubmit="return confirm('차단을 해제하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PUT" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:if="${#strings.toString(user.role)} != 'ADMIN' AND ${user.isBanned == true}"
          >해제</button>
        </form>
      </td>
      <td>
        <button
          class="btn btn-sm btn-outline-secondary"
          th:if="${#strings.toString(user.role)} == 'ADMIN'" disabled
        >관리자</button>
        <button
          class="btn btn-sm btn-outline-danger"
          th:if="${#strings.toString(user.role)} != 'ADMIN' AND ${user.isLocked == false}"
          th:attr="data-user-id=${user.id}, data-username=${user.username}"
          data-bs-toggle="modal"
          data-bs-target="#blockUserModal"
          onclick="openBlockModal(this)"
        >정지</button>
        <form
          th:action="@{|/admin/user/${user.id}/unblock|}"
          method="POST"
          onsubmit="return confirm('정지를 해제하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PUT" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:if="${#strings.toString(user.role)} != 'ADMIN' AND ${user.isLocked == true}"
          >해제</button>
        </form>
      </td>
      <td th:switch="${#strings.toString(user.role)}">
        <button
          class="btn btn-sm btn-outline-secondary"
          th:case="'ADMIN'" disabled
        >관리자</button>
        <form
          th:action="@{|/admin/user/${user.id}/role/revoke|}"
          method="POST"
          onsubmit="return confirm('권한을 회수하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PATCH" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:case="'STAFF'"
          >회수</button>
        </form>
        <form
          th:action="@{|/admin/user/${user.id}/role/grant|}"
          method="POST"
          onsubmit="return confirm('권한을 부여하시겠습니까?');"
        >
          <input type="hidden" name="_method" value="PATCH" />
          <input type="hidden" name="page" th:value="${userList.number}" />
          <button
            class="btn btn-sm btn-outline-secondary"
            th:case="*"
          >부여</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="${!userList.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${userList.isFirst} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=0|}">
          <span>처음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${userList.isFirst} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.number - 1}|}">
          <span>이전</span>
        </a>
      </li>
      <li
        th:each="page: ${#numbers.sequence(0, userList.totalPages-1)}"
        th:if="${page >= userList.number-5 and page <= userList.number+5}"
        th:classappend="${page == userList.number} ? 'active'"
        class="page-item"
      >
        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${userList.isLast} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.number + 1}|}">
          <span>다음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${userList.isLast} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${userList.getTotalPages - 1}|}">
          <span>끝</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- ban user form modal -->
  <div class="modal fade" id="banUserModal" tabindex="-1" aria-labelledby="banUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="banUserModalLabel">사용자 차단</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="banUserForm" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="banReason" class="form-label">차단 사유</label>
              <textarea class="form-control" id="banReason" name="detail" rows="2" required></textarea>
              <div class="invalid-feedback">차단 사유는 필수입니다.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="submit" class="btn btn-danger">차단</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- block user form modal -->
  <div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="banUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="blockUserModalLabel">사용자 정지</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="blockUserForm" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="blockReason" class="form-label">정지 사유</label>
              <textarea class="form-control" id="blockReason" name="detail" rows="2" required></textarea>
              <div class="invalid-feedback">정지 사유는 필수입니다.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="submit" class="btn btn-danger">정지</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script layout:fragment="script" type="text/javascript" th:src="@{/admin-user.js}"></script>
</html>
