<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">게시판 추가</h5>
  <!--csrf token will be injected automatically if use `th:action` attribute-->
  <form th:action="@{/admin/category/main}" th:object="${form}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <input type="hidden" name="tier" id="tier" class="form-control" th:value="1"/>
    <div class="mb-3">
      <label th:for="name" class="form-label">게시판 이름</label>
      <input type="text" id="name" class="form-control" th:field="*{name}" autofocus>
    </div>
    <input type="hidden" id="mainId" name="mainId" class="form-control" value=""/>
    <button type="submit" class="btn btn-primary">게시판 생성</button>
  </form>
</div>
</html>
