<html
  layout:decorate="~{layout}"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  lang="ko"
>
<div layout:fragment="content" class="container my-3 row justify-content-center">
  <div class="w-50">
    <form th:action="@{/user/login}" method="POST" class="needs-validation" novalidate>
      <div th:if="${param.error}">
        <div class="alert alert-danger" th:text="${param.error}"></div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">사용자ID</label>
        <input type="text" name="username" id="username" class="form-control" autofocus required>
        <div class="invalid-feedback">ID is essential</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control" required>
        <div class="invalid-feedback">password is essential</div>
      </div>
      <div class="form-check mb-3">
        <label>
          <input type="checkbox" class="form-check-input" name="remember-me" checked> 로그인 유지하기
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary d-inline-block">로그인</button>
        <a th:href="@{/user/recovery}" class="btn btn-secondary d-inline-block">비밀번호 찾기</a>
      </div>
    </form>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  (() => {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
</html>
