<div
  th:fragment="profileLeftNavFragment"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml"
  class="d-flex flex-column flex-shrink-0 p-3 h-100 border-end"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        th:href="@{/user/profile}"
        sec:authorize="isAuthenticated()"
      >회원정보</a>
      <a
        class="nav-link"
        th:href="@{/user/profile/post-list}"
        sec:authorize="isAuthenticated()"
      >작성 글 보기</a>
    </li>
    <li>
      <a
        class="nav-link"
        th:href="@{/user/profile/comment-list}"
        sec:authorize="isAuthenticated()"
      >작성 댓글 보기</a>
    </li>
    <li>
      <a
        class="nav-link"
        th:href="@{/user/resign}"
        sec:authorize="isAuthenticated() and !hasRole('ADMIN')"
      >회원탈퇴</a>
    </li>
  </ul>
</div>
