<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
<div
  layout:fragment="content"
  class="container my-3"
>
  <div class="row my-3">
    <div class="col-3">
      <a th:href="@{|/board/${mainCategory}|}">
        <h3>[[${mainCategory}]] 게시판</h3>
      </a>
    </div>
    <div class="col-1">
      <a
        th:href="@{|/board/${mainCategory}/form|}"
        class="btn btn-primary"
        sec:authorize="hasAnyRole('ADMIN', 'WRITER')"
      >작성</a>
      <a
        class="btn btn-secondary"
        sec:authorize="isAuthenticated() and !hasAnyRole('ADMIN', 'WRITER')" disabled
      >작성</a>
      <a
        class="btn btn-secondary"
        sec:authorize="isAnonymous()" disabled
      >작성</a>
    </div>
    <div class="col-2">
      <div class="input-group">
        <label class="input-group-text" for="list-size">개수</label>
        <select class="form-select" id="list-size">
          <option value="10" th:selected="${size == 10}">10</option>
          <option value="20" th:selected="${size == 20}">20</option>
          <option value="50" th:selected="${size == 50}">50</option>
          <option value="100" th:selected="${size == 100}">100</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <label for="search-kw" class="d-none"></label>
        <input type="text" id="search-kw" class="form-control" th:value="${kw}">
        <button class="btn btn-outline-secondary" type="button" id="btn-search">찾기</button>
      </div>
    </div>
  </div>
  <table class="table table-hover" style="table-layout: fixed;">
    <thead class="table-secondary">
    <tr class="text-center">
      <th style="width:5%">번호</th>
      <th style="width:10%">카테고리</th>
      <th style="width:55%">제목</th>
      <th style="width:10%">글쓴이</th>
      <th style="width:15%">작성일시</th>
      <th style="width:5%">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="post, loop : ${response.postList}">
      <td th:text="${post.id}"></td>
      <td>
        <a
          th:href="@{|?category=${post.category}|}"
          th:text="${post.category}"
        ></a>
      </td>
      <td class="text-start d-flex align-items-center gap-2">
        <a
          class="text-truncate"
          th:href="@{|/board/${mainCategory}/${post.id}|}"
          th:text="${post.title}"
        ></a>
        <span
          class="badge rounded bg-primary"
          th:text="|댓글 ${post.commentCount}|"
          th:if="${post.commentCount} > 0"
        >
        </span>
        <span
          class="badge rounded bg-success"
          th:text="|추천 ${post.voteCount}|"
          th:if="${post.voteCount} > 0"
        >
        </span>
      </td>
      <td>
        <a
          class="text-truncate"
          th:if="${post.author != null}"
          th:text="${post.author}"
          th:href="@{|/users/${post.authorId}|}"
        ></a>
      </td>
      <td th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${post.viewCount}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <div th:if="${!response.postList.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=0&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>처음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${page - 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>이전</span>
        </a>
      </li>
      <li
        th:each="pageList: ${#numbers.sequence(0, response.totalPages - 1)}"
        th:if="${pageList >= page - 5 and pageList <= page + 5}"
        th:classappend="${pageList == page} ? 'active'"
        class="page-item"
      >
        <a
          class="page-link"
          th:text="${pageList}"
          th:href="@{|?page=${pageList}&size=${size}&kw=${kw}&category=${category}|}"
        ></a>
      </li>
      <li class="page-item" th:classappend="${page + 1 == response.totalPages} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${page + 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>다음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${page + 1 == response.totalPages} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${response.totalPages - 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>끝</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
  <form th:action="@{|/board/${mainCategory}|}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="size" name="size" th:value="${size}">
    <input type="hidden" id="page" name="page" th:value="${page}">
  </form>
</div>
<script layout:fragment="script" type="text/javascript" th:src="@{/post-list.js}"></script>
</html>
