<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
<div
  layout:fragment="content"
  class="container my-3"
>
  <!-- 게시글 -->
  <h6 class="border-bottom py-2" th:text="|게시판: ${mainCategory} / 카테고리: ${response.category}|"></h6>
  <h2 class="border-bottom py-2" th:text="${response.title}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(response.content)}"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${response.author != null}" th:text="${response.author}"></span>
          </div>
          <div th:text="${#temporals.format(response.createdDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div th:if="${response.updatedDateTime != null && response.version > 1 }" class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">modified at</div>
          <div th:text="${#temporals.format(response.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
