<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
<div
  layout:fragment="content"
  class="container my-3"
>
  <div class="row my-3">
    <div class="col-3">
      <h3>[[${mainCategory}]] 게시판</h3>
    </div>
    <div class="col-1">
      <a
        th:href="@{|/board/${mainCategory}/form|}"
        class="btn btn-primary"
        sec:authorize="isAuthenticated()"
      >
        작성
      </a>
      <a
        class="btn btn-secondary"
        sec:authorize="isAnonymous()" disabled
      >
        작성
      </a>
    </div>
    <div class="col-2">
      <div class="input-group">
        <label class="input-group-text" for="list_size">개수</label>
        <select class="form-select" id="list_size">
          <option value="10" th:selected="${size == 10}">10</option>
          <option value="20" th:selected="${size == 20}">20</option>
          <option value="50" th:selected="${size == 50}">50</option>
          <option value="100" th:selected="${size == 100}">100</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <label for="search_kw" class="d-none"></label>
        <input type="text" id="search_kw" class="form-control" th:value="${kw}">
        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
      </div>
    </div>
  </div>
  <table class="table table-hover" style="table-layout: fixed;">
    <thead class="table-secondary">
    <tr class="text-center">
      <th style="width:5%">번호</th>
      <th style="width:10%">카테고리</th>
      <th style="width:55%">제목</th>
      <th style="width:10%">글쓴이</th>
      <th style="width:20%">작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="post, loop : ${response.postList}">
      <td th:text="${post.id}"></td>
      <td>
        <a
          th:href="@{|/board/${mainCategory}?category=${post.category}|}"
          th:text="${post.category}"
        ></a>
      </td>
      <td class="text-start">
        <a
          class="mw-100 d-inline-block text-truncate"
          th:href="@{|/board/${mainCategory}/${post.id}|}"
          th:text="${post.title}"
        ></a>
      </td>
      <td>
        <span
          class="mw-100 d-inline-block text-truncate"
          th:if="${post.author != null}"
          th:text="${post.author}"
        ></span>
      </td>
      <td th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <div th:if="${!response.postList.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=0&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>처음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${page - 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>이전</span>
        </a>
      </li>
      <li
        th:each="pageList: ${#numbers.sequence(0, response.totalPages - 1)}"
        th:if="${pageList >= page - 5 and pageList <= page + 5}"
        th:classappend="${pageList == page} ? 'active'"
        class="page-item"
      >
        <a
          class="page-link"
          th:text="${pageList}"
          th:href="@{|/board/${mainCategory}?page=${pageList}&size=${size}&kw=${kw}&category=${category}|}"
        ></a>
      </li>
      <li class="page-item" th:classappend="${page + 1 == response.totalPages} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${page + 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>다음</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${page + 1 == response.totalPages} ? 'disabled'">
        <a
          class="page-link"
          th:href="@{|?page=${response.totalPages - 1}&size=${size}&kw=${kw}&category=${category}|}"
        >
          <span>끝</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
  <form th:action="@{|/board/${mainCategory}|}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="size" name="size" th:value="${size}">
    <input type="hidden" id="page" name="page" th:value="${page}">
  </form>
</div>
<script layout:fragment="script" type='text/javascript'>
  const btn_search = document.getElementById("btn_search");
  btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('size').value = document.getElementById('list_size').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
  });
</script>
</html>
