<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml">
<div
  layout:fragment="content"
  class="container my-3"
>
  <!-- 게시글 -->
  <h6 class="border-bottom py-2">
    게시판:
    <a
      th:text="|${mainCategory}|"
      th:href="@{|/board/${mainCategory}|}"
    ></a>
    / 카테고리:
    <a
      th:text="${response.category}"
      th:href="@{|/board/${mainCategory}?category=${response.category}|}"
    ></a>
  </h6>
  <h2 class="border-bottom py-2" th:text="${response.title}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(response.content)}"></div>
      <div class="d-flex justify-content-end">
        <div class="me-auto">
          <a
            class="recommend btn btn-sm btn-outline-secondary"
            th:href="@{|/board/${mainCategory}/${response.id}/vote|}"
            sec:authorize="isAuthenticated()"
          >
            추천
            <span class="badge rounded-pill bg-success" th:text="${response.voteCount}"></span>
          </a>
          <button
            class="recommend btn btn-secondary btn-sm btn-outline-secondary"
            sec:authorize="isAnonymous()" disabled
          >
            추천
            <span class="badge rounded-pill bg-success" th:text="${response.voteCount}"></span>
          </button>
          <a
            th:href="@{|/board/${mainCategory}/${response.id}/form|}"
            class="btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${response.authorId != null and #authentication.getPrincipal().getUserId() == response.authorId}"
            th:text="수정"
          ></a>
          <form
            th:action="@{|/board/${mainCategory}/${response.id}|}"
            method="POST"
            sec:authorize="isAuthenticated()"
            th:if="${response.authorId != null and #authentication.getPrincipal().getUserId() == response.authorId}"
            class="delete d-inline-block"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-sm btn-outline-secondary">삭제</button>
          </form>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">작성자</div>
          <span th:if="${response.author != null}" th:text="${response.author}"></span>
        </div>
        <div class="badge bg-light text-dark p-2 text-start ms-2">
          <div class="mb-2">작성일</div>
          <div th:text="${#temporals.format(response.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div
          th:if="${response.updatedDateTime != null && response.version > 1 }"
          class="badge bg-light text-dark p-2 text-start ms-2"
        >
          <div class="mb-2">수정일</div>
          <div th:text="${#temporals.format(response.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 댓글 갯수 표시 -->
  <h5
    class="border-bottom my-3 py-2"
    th:text="|${response.commentCount}개의 댓글이 있습니다.|"
  ></h5>
  <!-- 댓글 작성 -->
  <form
    th:action="@{|/board/${mainCategory}/${response.id}/comment/form|}"
    th:object="${commentForm}"
    method="POST"
    class="my-3"
  >
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <label class="d-none" for="text-area-disabled"></label>
    <textarea
      id="text-area-disabled"
      sec:authorize="isAnonymous()" disabled
      th:field="*{content}"
      class="form-control"
      rows="1"
    ></textarea>
    <label class="d-none" for="text-area"></label>
    <textarea
      id="text-area"
      sec:authorize="isAuthenticated()"
      th:field="*{content}"
      class="form-control"
      rows="2"
    ></textarea>
    <input
      type="submit"
      value="댓글 등록"
      class="btn btn-secondary my-2"
      sec:authorize="isAnonymous()" disabled
    >
    <input
      type="submit"
      value="댓글 등록"
      class="btn btn-primary my-2"
      sec:authorize="isAuthenticated()"
    >
  </form>
  <!-- 댓글 반복 시작 -->
  <a id="comment-list"></a>
  <div class="card my-3" th:each="comment : ${response.commentList}">
    <a th:id="|comment-${comment.id}|"></a>
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(comment.content)}"></div>
      <div class="d-flex justify-content-end">
        <div class="me-auto">
          <a
            class="recommend btn btn-sm btn-outline-secondary"
            th:href="@{|/board/${mainCategory}/${response.id}/comment/${comment.id}/vote|}"
            sec:authorize="isAuthenticated()"
          >
            추천
            <span class="badge rounded-pill bg-success" th:text="${comment.voteCount}"></span>
          </a>
          <button
            class="recommend btn btn-secondary btn-sm btn-outline-secondary"
            sec:authorize="isAnonymous()" disabled
          >
            추천
            <span class="badge rounded-pill bg-success" th:text="${comment.voteCount}"></span>
          </button>
          <a
            th:href="@{|/board/${mainCategory}/${response.id}/comment/${comment.id}/form|}"
            class="btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${comment.authorId != null and #authentication.getPrincipal().getUserId() == comment.authorId}"
            th:text="수정"
          ></a>
          <form
            th:action="@{|/board/${mainCategory}/${response.id}/comment/${comment.id}|}"
            method="POST"
            sec:authorize="isAuthenticated()"
            th:if="${comment.authorId != null and #authentication.getPrincipal().getUserId() == comment.authorId}"
            class="d-inline-block"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-sm btn-outline-secondary">삭제</button>
          </form>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">작성자</div>
          <div th:if="${comment.author != null}" th:text="${comment.author}"></div>
        </div>
        <div class="badge bg-light text-dark p-2 text-start ms-2">
          <div class="mb-2">작성일</div>
          <div th:text="${#temporals.format(comment.createdDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div
          th:if="${comment.updatedDateTime != null && comment.version > 1}"
          class="badge bg-light text-dark p-2 text-start ms-2"
        >
          <div class="mb-2">수정일</div>
          <div th:text="${#temporals.format(comment.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script layout:fragment="script" type="text/javascript" th:src="@{/post-detail.js}"></script>
</html>
