<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml">
<div
  layout:fragment="content"
  class="container my-3"
>
  <!-- 게시글 -->
  <h6 class="border-bottom py-2" th:text="|게시판: ${mainCategory} / 카테고리: ${response.category}|"></h6>
  <h2 class="border-bottom py-2" th:text="${response.title}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(response.content)}"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${response.author != null}" th:text="${response.author}"></span>
          </div>
          <div th:text="${#temporals.format(response.createdDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div
          th:if="${response.updatedDateTime != null && response.version > 1 }"
          class="badge bg-light text-dark p-2 text-start mx-3"
        >
          <div class="mb-2">modified at</div>
          <div th:text="${#temporals.format(response.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 댓글 갯수 표시 -->
  <h5
    class="border-bottom my-3 py-2"
    th:text="|${response.commentCount}개의 댓글이 있습니다.|"
  ></h5>
  <!-- 댓글 작성 -->
  <form
    th:action="@{|/board/${mainCategory}/${response.id}/comment/form|}"
    th:object="${commentForm}"
    method="post"
    class="my-3"
  >
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <label class="d-none" for="text-area-disabled"></label>
    <textarea
      id="text-area-disabled"
      sec:authorize="isAnonymous()" disabled
      th:field="*{content}"
      class="form-control"
      rows="1"
    ></textarea>
    <label class="d-none" for="text-area"></label>
    <textarea
      id="text-area"
      sec:authorize="isAuthenticated()"
      th:field="*{content}"
      class="form-control"
      rows="2"
    ></textarea>
    <input
      type="submit"
      value="댓글 등록"
      class="btn btn-secondary my-2"
      sec:authorize="isAnonymous()" disabled
    >
    <input
      type="submit"
      value="댓글 등록"
      class="btn btn-primary my-2"
      sec:authorize="isAuthenticated()"
    >
  </form>
  <!-- 댓글 반복 시작 -->
  <div class="card my-3" th:each="comment : ${response.commentList}">
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(comment.content)}"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${comment.author != null}" th:text="|작성자: ${comment.author}|"></span>
          </div>
          <div th:text="${#temporals.format(comment.createdDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div
          th:if="${comment.updatedDateTime != null && comment.version > 1}"
          class="badge bg-light text-dark p-2 text-start mx-3"
        >
          <div class="mb-2">modified at</div>
          <div th:text="${#temporals.format(comment.updatedDateTime, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
