<html
  lang="ko"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">비밀번호 찾기</h5>
  <form th:action="@{/user/recovery}" th:object="${form}" method="POST">
    <div th:replace="~{form-errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input id="username" type="text" class="form-control" th:field="*{username}">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input id="email" type="text" class="form-control" th:field="*{email}">
    </div>
    <button type="submit" class="btn btn-primary">찾기</button>
  </form>
</div>
</html>
